body{
    margin: 0px;
}

/* COLORS */
/* body{
    background-color: rgb(33, 87, 122);
    background-color: rgb(56, 164, 166);
    background-color: rgb(87, 203, 153);
    background-color: rgb(130, 237, 155);
    background-color: rgb(200, 249, 205); 
    background-color: rgba(131, 93, 46, 0.8);
}  */

/* NAVBAR */
#logo-img{
    width: 30px;
}

.navbar{
    background-color: rgba(35, 88, 123, 0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.nav-link, .nav-link:visited{
    color: rgb(130, 237, 155);
}

.nav-link:hover, .nav-link:active{
    color: rgb(56, 162, 163);
}

.navbar-toggler{
    background-color: rgba(130, 237, 155, 0.8);
}

#header-video{
    top: -70px;
    max-height: 80vh;
    object-fit: cover;
    transition: 0.5s ease;
}

#container-slide{
    position: relative;
    top: -70px;
    transition: 0.5s ease;
}

@media (max-width: 768px) {
    #header-video{
        top: -70px;
        height: 50vh;
        object-fit: cover;
    }
}

@media (max-width: 576px) {
    #header-video{
        top: -70px;
        height: 40vh;
        object-fit: cover;
    }
}